@charset "UTF-8";

#title{
	color: red;
}

.c1{
 	border: red solid 2px; 

	width: 300px;
	height: 300px;
/* 	padding-top: 30px; 
	padding-right: 30px;
	padding-left: 30px; */
	box-sizing: border-box;
	padding: 94px 0px 0px 94px;
	
}

.c1_1{
 	border: gray 2px solid; 

	width: 100px;
	height: 100px;
}

.c2{
	border: blue 2px solid;
/* 	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px; */
	padding: 20px 20px 20px 20px;
}