@charset "UTF-8";

.title{
	background-color: gray;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.c1{
	border-left: blue 3px solid;
	border-top: blue 3px solid;
}

.tbl{
	border : blue solid 3px;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 70%;
	margin: 0 auto;
}

.tbl_tr{
	border : blue solid 3px;
	border-spacing: 0px;
	border-collapse: collapse;
}