@charset "UTF-8";

*{
	color: red;
}

h3{
	color: blue;
}

#t1{
	color: lime;
	border: red 1px solid;
}

.c1{
	color: black;
}

h1{
	font-size: 64px;
	/*border */
	border-top-color: aqua;
	border-top-width: 3px;
	border-top-style: solid;
	
	border-right-color: aqua;
	border-right-width: 3px;
	border-right-style: solid;
	
	border-left-color: aqua;
	border-left-width: 3px;
	border-left-style: solid;
	
	border-bottom: aqua dotted 3px;
}

/* #t3, h2{
	font-size: 50px;
} */

.c2{
	font-size: 30px;
}

#circle{
	border: 5px solid red;
	width: 200px;
	height: 200px;
	border-radius: 10px 20px 30px 40px;
}